<body class="aboutbody">

  <h1 class="aboutme">About me</h1>

  <div class="picandtext">

    <div class="pic"></div>

    <div class="textdiv">
      <h2 class="aboutmetext">
        I am a software engineering student with experience in developing web
        applications using Python, Java, and JavaScript. I am proficient in HTML
        & CSS and have worked with popular frameworks such as Django and React.
        I have experience using Git and other development tools.
      </h2>
    </div>

  </div>
</body>