<body class="loginbody">
  
  <h1>Welcome to the login page!</h1>

    <form action="/login" method="post" class="logindiv">
        <input type="text" name="un" id="un" placeholder="Username" required="required" />
        <input type="password" name="pw" id="pw" placeholder="*******" required="required" />
        <input class="loginbutton" type="submit" value="Login"/>
    </form> 

</body>
